@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PizzaTime</h1>
</div>

<div class="b row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum dolor.</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur soluta porro pariatur. Veniam amet, asperiores suscipit animi quibusdam omnis quas unde harum fugit nemo! Eligendi dolore temporibus eaque autem voluptatum!</p>
        <a asp-action="#" asp-controller="Home" class="btn btn-primary ">New Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum dolor.</h5>
        <p class="card-text">Lorem Lorem Lorem Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis delectus nisi at similique ipsa animi praesentium quidem itaque dolore eaque, tempore quos optio velit a odit culpa iste sit quibusdam.</p>
        <a asp-action="#" asp-controller="Home" class="btn btn-primary">Re-Order my Fav</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum dolor.</h5>
        <p class="card-text">Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, consectetur harum alias adipisci blanditiis iure corporis? Vero tempore repudiandae possimus repellat nostrum, dolorum at ad aspernatur, doloremque, cumque quibusdam natus!</p>
        <a asp-action="#" asp-controller="Home" class="btn btn-primary">Surprise Me</a>
      </div>
    </div>
  </div>
</div>
</div>